@import url(https://fonts.googleapis.com/css?family=Signika:400,600,300,700);
/*font-family: 'Signika', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,300);
/*font-family: 'Ubuntu', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/*font-family: 'Pacifico', cursive;*/
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: url("../img/bg-present.png") no-repeat;
    background-size: cover;
}

.active {
    display: block !important;
}

.sell-list .added:hover {
    overflow: hidden;
}

.no-active {
    display: none!important;
!important;
}

.container {
    max-width: 960px;
    padding: 0;
}

/*header start*/
header {
    background: url("../img/bg-head.png");
    width: 100%;
}

header a {
    font-family: 'Signika', sans-serif;
}

.logo img {
    padding: 25px 0 22px 0;
}

/*LOGIN*/
.regist {
    width: 180px;
    background: #1b75ba;
    padding: 4px 5px 4px 11px;
    border: 1px solid #589acc;
    border-radius: 0 0 5px 5px;

}

.regist a {

    color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.regist a:first-child {
    padding-right: 9px;
    margin-right: 6px;
    border-right: 1px solid #1d659c;
}

.regist a img {
    padding-right: 6px;
    padding-bottom: 4px;
}

/*LOGIN END*/
/*--------Navigation header-----*/
nav {
    float: right;
    clear: both;
    content: "";
    margin-top: 35px;
    padding-right: 5px;
}

.navbar {
    clear: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

nav .list-inline li {
    margin-left: 32px;
}
nav .list-inline li:nth-child(2) {
    margin-left: 52px;
}
.list-inline li {
    text-transform: uppercase;
}

nav li a, .menu-foot_menu-container ul li a {
    color: #1b75ba;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

nav li a:hover, .menu-foot_menu-container ul li a:hover {
    text-decoration: none;
}
.align-justify{
    display:none;
}
/*header end*/

/* This is section chose present beginning */

.chose_presents {

    width: 100%;
    padding-top: 40px;
    padding-bottom: 200px;
}

.present-form {
    width: 572px;
    float: left;
    background: url("../img/bg-head.png");
    box-sizing: border-box;
    padding: 30px 30px 5px 30px;
    border-radius: 5px;

}

.present-form h2 {
    font: 300 50px 'Signika', sans-serif;
    color: #d93655;
    margin: -4px 5px 15px 0;
}

.back-btn {
    background: #d93655;
    color: #fff;
    font: 600 16px 'Signika', sans-serif;
    padding: 2px 10px;
    border-radius: 3px;
    margin-left: 5px;

}

.back-btn:hover {
    text-decoration: none;
}

.back-btn i {
    margin-right: 4px;

}

.step-namb {
    font: 20px "MyriadProRegular", sans-serif;
    color: #9f9e9e;
    border-bottom: 1px solid #eaeaea;
    margin-right: 81px;
}

.search-info {
    padding: 20px 0 23px;
    font: 16px "Ubuntu", sans-serif;
    color: #8f8f8f;
    margin: 0;
    line-height: 18px;
}

.add-too-list p {
    padding: 0;
    margin: 0;
}

.add-too-list img {
    max-width: 100%;
}

/* search start*/

.searchbox {
    background-color: #eaeaea;
    padding: 5px;
    width: 100%;
    margin: 0 auto 15px;
    box-sizing: border-box;
    border-radius: 6px;
}

.searchbox input[type="search"] {
    font-size: 20px;
}

#search-form {
    box-shadow: none;
    width: 87%;
    margin: 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: #848484;
    font-weight: 500;
    background-color: #eaeaea;
}

#search-form:hover {
    border: none;
}

button[type="submit"] {
    width: 35px;
    height: 30px;
    background-image: url("../img/search-btn.png");
    background-repeat: no-repeat;
    background-position: 10px 5px;
    background-color: transparent;
    background-size: 23px 23px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

/* search end*/

/*sell-list  start*/

.chose_presents .sell-list {
    margin: 0 -26px 0 -30px;
    height: 677px;
    overflow-y: scroll;
    overflow-x: visible;
    font-family: 'Signika', sans-serif;
    padding: 10px 30px 155px;
}

.price {
    color: #d93655;
    font-size: 14px;
    font-weight: 300;
}

.sell-list .added-goods {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.95;
    padding: 0 5px;
    margin: 0px 0px 0px -5px;
    border: 1px solid #dedede;
    border-radius: 5px;
    display: none;
}

.sell-list__item .full-text {
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    font-size: 14px;
    font-weight: 300;
    max-width: 150px;

}

.sell-list .added-goods img {
    margin: 49% 0 12% 0;
}

.sell-list .added-goods p {
    color: #1b75ba;
}

.sell-list__item {
    max-width: 172px;
    height: 235px;
    overflow: hidden;
    padding: 0;
}

.sell-list__item a:hover {
    text-decoration: none;
}

.sell-list__item:hover {
    overflow: visible;
    z-index: 55;

}

.sell-list__inner:hover {
    background: #f8f8f8;
    -webkit-box-shadow: 1px 0px 30px 2px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 1px 0px 30px 2px rgba(0, 0, 0, 0.66);
    box-shadow: 1px 0px 30px 2px rgba(0, 0, 0, 0.66);
    z-index: 888;
}

.sell-list__inner {
    padding: 15px;
}

.sell-list__product:hover .sell-list__item:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/bg-head.png");
    opacity: 0.9;
    content: "";
    display: block;
}

.nohover .sell-list__item:before {
    opacity: 0 !important;
}

.sell-list .sell-list__item:hover:before {
    display: none;
    z-index: 666;
}

.sell-list__item:hover .sell-list__add-to-list {
    display: block;
    background: #f8f8f8;
    padding-bottom: 10px;
}

.sell-list__item:hover .full-text {
    white-space: inherit;
}

.sell-list__add-to-list {
    display: none;

}

.add-to-list-btn {

    display: block;
    background: #2fc10f;
    color: #fff;
    padding: 3px 0;
    border-radius: 5px;

}
.present-form__discr_prices{
    margin: 13px 0 20px;
}
/*sell-list  end*/

/* start block with added product*/

.present-form-add {
    width: 37%;
    float: right;
}

.name-take {
    background: url("../img/name-take.png");
    border: 1px solid #32638b;
    border-radius: 5px 5px 0 0;
}

.name-take h3 {
    margin: 0;
    padding: 18px 0 16px;
    color: #fff;
    font: 18px "Ubuntu", sans-serif;
    word-spacing: 5px;
}

.added-products {
    margin-right: -15px;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sum-describe img {
    float: left;
    padding-right: 15px;
}
.main-content {
    background: url("../img/bg-add-too-list.png") no-repeat;
    background-size: cover;
    height: 808px;
    box-sizing: border-box;
    padding: 20px 0 95px 0;
}

.name-take .show, .name-take .pancil {
    border: 1px solid #033357;
    border-radius: 3px;
    margin: 6px 6px 0 6px;
}

.name-take .show {
    padding: 7px 9px;
}

.name-take .pancil {
    padding: 9px 9px;
}

.added-products .full-text {
    max-width: 200px;
}

.sum-describe {
    padding: 6px 25px 0 10px;
    height: 135px;
}

.sum-describe p {
    font: 18px 'Pacifico', cursive;
    padding: 9px 0px 0 0;
    color: #464545;
    margin: 0;
    line-height: 25px!important;
}

.sum-describe__parent {
    position: absolute;
    max-width: 200px;
    margin: 0 0 0 118px;
    z-index: 55;
    background: rgba(255, 255, 255, 0.5);
}

.sum-describe__text__add {
    display: none;

}

.sum-describe a {
    font: 12px 'Ubuntu', sans-serif;
    text-decoration: underline;
    color: #a3acb3;
}

/* end block with added product*/

/*  start  type-off-product*/
.type-off-product {
    clear: both;
    content: "";
    padding-bottom: 20px;
    margin-bottom: 41px;
    position: relative;
}

.type-off-product p {
    margin: 0;
}

.type-off-product .added-product__img {
    float: left;
    height: 80px;
    width: 80px;
    margin-right: 10px;

}

.full-text-added {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font: 20px 'Pacifico', cursive;
    color: #1b75ba;
    max-width: 210px;
}

.added-products {
    position: relative;
    padding: 23px 0 0 12px;
    margin-right: 15px;
}

.present-form-add__empty {

    position: absolute;
    top: 31%;
    width: 286px;
    margin-left: 20px;
}

.present-form-add__empty p {
    font: 22px 'Pacifico', cursive;
    color: #a3acb3;
    margin-bottom: 29px;
    line-height: 33px;
}

/*------added-products__item-menu-------*/

.added-products__item-menu {
    position: absolute;
    background: rgba(217, 54, 85, 0.9);
    top: 0;
    border-radius: 5px;
    display: none;
}

.added-products__item-menu a:hover {
    text-decoration: none;
    color: #d93655;
}

.type-off-product:hover .added-products__item-menu {
    display: block;
    width: 97%;
    height: 92%;
    z-index: 1111;
}

.added-products__item-menu__view-item {
    float: left;
    margin: 23px 0 0 32px;
}

.added-products__item-menu__view-item button {
    background-color: #f7f7f7;
    border-radius: 5px;
    color: #d93655;
    padding: 11px 15px 11px 10px;
    text-decoration: none;
    font: 16px 'Ubuntu', sans-serif;
    border: none;
}

.added-products__item-menu__view-item button i {
    font-size: 18px;
    margin-right: 10px;
}

.added-products__dropdown {
    width: 145px;
    float: right;
    margin: 20px 5px 0 0;
}

.added-products__dropdown .dpropdown {
    margin: 0;
    border: 1px solid #d93655;
}

.icon-caret-down {
    margin-left: 7px;
}

.added-products__dropdown ul {
    list-style-type: none;
    background: #f7f7f7;
    border-radius: 5px;
}

.added-products__dropdown ul:hover {
    border-radius: 5px 5px 0 0;
}

.added-products__dropdown .dropdown-top a {
    font: 500 16px 'Ubuntu', sans-serif;
    color: #d93655;
}

.added-products__dropdown ul li {
    position: relative;
    padding: 11px 10px;
}

.added-products__dropdown ul.dropdown,
.added-products__dropdown ul.dropdown-inside {
    list-style-type: none;
    padding: 0;
}

.added-products__dropdown ul .dropdown-inside {
    position: absolute;
    left: 0px;
    display: none;
    width: 145px;
    border: 1px solid #d93655;
    margin: 10px 0px 0 -1px;
    border-radius: 0 0 5px 5px;
}

.added-products__dropdown ul .dropdown-inside li {
    padding: 10px;
    border-bottom: 1px solid #d93655;
}

.added-products__dropdown ul .dropdown-inside li:last-child {
    border: none;
}

/*****************************************    CLIP   *******************************************************/
.clip {
    position: absolute;
    z-index: 99999;
    top: 23px;
    left: -13px;
}

/****************************************** END  CLIP ******************************************************/
/*******************************normalize drop down**********************************************/
/************************************************************************************************/
#navigation {
    margin: 22px 0 0 156px;
}

.navigation {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;

}

.navigation li {
    height: auto;
    width: 145px;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
    border: 1px solid #d93655;
    /*box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);*/
    border-radius: 5px;
    margin-left: 10px;
}

.navigation li ul li a img {
    padding-right: 3px;
}

.navigation a {
    padding: 11px 9px;
    text-decoration: none;
    color: #d93655;
    /*text-shadow: 0 1px #fff;*/
    display: block;
    background-color: #f7f7f7;
    font: 500 16px 'Ubuntu', sans-serif;

}

.navigation li ul {
    display: none;
    height: auto;
    margin-left: -11px;
    padding: 0;
}

.navigation-menu {
    border-radius: 5px;
}

.navbar li ul li {
    background-color: #f7f7f7;
    border: 1px solid #d93655;
}

.navigation li:hover, .navigation a:hover {
    background: #e8e8e8;
    color: #d93655;
}

/************************************************************************************************/
/*******************************normalize drop down**********************************************/
/************************************************************************************************/

/*------added-products__item-menu end-------*/

.added-products__item-brought {
    position: absolute;
    background: rgba(232, 232, 232, 0.87);
    top: 0;
    border-radius: 5px;
    display: none;
}

.type-off-product .added-products__item-brought p {
    margin: 21px 43px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    font: 16px 'Ubuntu', sans-serif;
    color: #6d6d6d;
}

/*  end  type-off-product*/

/*------SAVE-------*/
.save {
    background: url("../img/boxsave.png");
    height: 88px;
    position: relative;
    border-radius: 0 0 5px 5px;
}

.save a {
    text-decoration: none;
    position: absolute;
    color: #fff;
    left: 3.5%;
    top: 12.5%;
    font: 700 30px 'Ubuntu', sans-serif;
    padding: 4% 20%;
    border: 2px solid #033357;
    border-radius: 3px;
}

.save a:hover {
    color: #8a6d3b;
    text-decoration: none;
}

/*------SAVE   END-------*/
/* This is section chose present end */

/*-----------------------   FOOTER    --------------------------*/

footer {
    padding: 52px 0 25px 0;
    background: url("../img/bg-head.png");
}

footer .social {
    margin: 9px 0 47px;
}

footer .foot_menu li a {
    font-size: 14px;
}

footer .foot_menu  li {
    padding: 0 11px;
}

/*-----------------------  FOOTER END --------------------------*/

/*--------------------------media optimiz--------------------------------*/
@media screen and (max-width: 980px) {
    .present-form-add {
        float: none;
        width: 360px;
        margin: 25px auto
    }

    .present-form {
        float: none;
        margin: auto;
        width: 580px;
    }

    .logo {
        display: block;
    }
    nav .list-inline li:nth-child(2){
        margin: auto;
    }
    .regist {
        margin: auto;
        float: none !important;
        border-radius: 5px;
    }
    .align-justify{
        display: block;
        margin: auto;
    }
    nav{
        float: none;
        text-align: center;

    }
    nav ul{
        display: none;
    }
    nav .list-inline li{
        margin: 15px 0;
        display: block!important;
    }
}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 700px) {
    .present-form {
        width: 580px;
    }
}
@media screen and (min-width: 360px) and (max-width: 620px){
    .present-form {
        width: 430px;
    }
    #search-form{
        width: 82%;
    }
}
@media screen and (max-width: 475px){
    .present-form {
        width: 95%;
    }
    body{
        padding: 0!important;
    }
    .save a{
        padding: 4% 18%;
    }

}
@media screen and (max-width: 447px){
    .sell-list__item{
        float: none;
        margin: 0 auto;
    }
}
@-moz-document url-prefix()
{
    .regist{
        width: 185px;
    }
}
/*--------------------------end media optimiz--------------------------------*/
/*scrol*/
.nicescroll-cursors {
    width: auto;
}

#ascrail2000 {
    border-radius: 5px;
    width: auto !important;
}

/*end scrol*/